*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.navbar{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    background:#111827;
    color:white;
    position:sticky;
    top:0;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#38bdf8;
}

.logo span{
    color:#facc15;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links li{
    cursor:pointer;
    transition:.3s;
}

.nav-links li:hover{
    color:#38bdf8;
}

.login-btn{
    padding:10px 20px;
    border:none;
    border-radius:8px;
    background:#38bdf8;
    color:white;
    cursor:pointer;
    font-size:15px;
    transition:.3s;
}

.login-btn:hover{
    background:#0ea5e9;
}
.nav-links a{
    text-decoration:none;
    color:white;
}

.nav-links a:hover{
    color:#38bdf8;
}

.login-btn{
    text-decoration:none;
}